<%- include("partials/header") -%>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>...Studio</title>
  </head>
  <body>
    <h1>Hello</h1>

<%- include("partials/footer") -%>
