<%- include("partials/header") -%>

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>...Studio</title>

  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
  <header>
    <nav>
      <div class="menu-flex-item">
        <p>...Studio</p>
      </div>
      <div class="menu-flex-item">
        <ul class="menu-navegacao">
          <li>Thirteen Ways of Looking at a Typeface</li>
          <ul>
            <li>Because it works</li>
            <li>Because you like it's history</li>
            <li>Because you like its name</li>
            <li>Because of who designed it</li>
            <li>Because it was there</li>
            <li>Because they made</li>
            <li>Because it reminds you of something</li>
            <li>Because it's beautiful'</li>
            <li>Because it's ugly</li>
            <li>Because it's boring'</li>
            <li>Because you believe in it</li>
            <li>Because you can't not</li>
          </ul>
          <li>typEm - Adapting a Typeface to Text Emotions</li>
          <ul>
            <li>Emotional Extraction</li>
            <li>Typeface Design Workflow</li>
            <li>Positive and Negative Valences</li>
            <li>The 6 Emotional Types</li>
            <li>The Application</li>
          </ul>
        </ul>
      </div>
    </nav>
  </header>

  <%- include("partials/footer") -%>
