html {
  font-family: "Mermaid", sans-serif;
  font-size: 1.1vw;
}

body {
  background-color: white;
  margin: 0;
  padding: 20px 50px 0 50px;
  overflow-x: hidden;
}

/* HIDE SCROLL BAR */
body {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

header {
  min-height: 100vh;
  transition: all 1s;
}

nav {
  padding: 0 0 0 20px;
  height: 100%;
}

.smallHeader {
  min-height: 75px;
}

nav ul {
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-family: "NeueHaasGroteskDisp", sans-serif;
}

main {
  display: none;
  padding: 0;
  opacity: 0;
  transition: all 1s;
}

.showMain {
  display: block;
}

.changeOpacityMain {
  opacity: 100%;
}

.menu-flex-item {
  display: inline-block;
  box-sizing: border-box;
  position: fixed;
}

.menu-flex-item:nth-child(2) {
  top: 45vh;
  left: 0;
  transform: translateX(-35%);
}

.menu-flex-item:last-child {
  top: 45vh;
  right: 0;
  transform: translateX(35%);
}

.botao-navegacao {
  font-family: "Courier Prime", monospace;
  font-size: 1.1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-flex-item:nth-child(2) .botao-navegacao {
  transform: rotateZ(90deg);
  text-align: center;
}

.menu-flex-item:nth-child(3) .botao-navegacao {
  transform: rotateZ(-90deg);
  text-align: center;
}

.artigo {
  display: none;
  position: relative;
}

.showArtigo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.artigo section {
  /*margin-bottom: 250px;*/
  min-height: 100vh;
}

.artigo>div {
  width: 45%;
}

.artigo>div:first-child {
  position: relative;
}

.artigo:first-child>div:first-child {
  transform: translateY(-90.5%);
}

.artigo:last-child>div:first-child {
  transform: translateY(-80%);
}

.flex-container-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.artigo1-titulo, .artigo2-titulo {
  width: 100%;
  align-self: flex-start;
  /*height: auto;*/
  margin: 0;
  color: #0AA3E4;
  /*margin-bottom: 25vw;*/
}

.artigo1-parte-titulo, .artigo2-parte-titulo {
  /*margin-bottom: 25vw;*/
}

.artigo2-titulo, .artigo2-parte-titulo {
  font-family: "Courier Prime", monospace;
  font-weight: 300;
}

.artigo1-introducao img {
  width: 20%;
  height: auto;
}
